.login-title {
  align-self: center;
  color: var(--color-primary);
  margin-bottom: 1rem;
  font-size: 1.5rem; /* adjust size if needed */
  visibility: hidden;
}

.login-form {
  width: 80%;
  height: 100%; /* full height of right half */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.login-form H1{
    color: var(--color-primary);
    align-self: center;
}

.login-label {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "Playwrite HR Lijeva", cursive;
  color: var(--color-primary);
}

.login-input {
  width: 100%;
  padding: 0.3rem 1rem;
  border-radius: 999px;
  border: 2px solid var(--color-primary);
  font-size: 1rem;
  font-family: "Playwrite HR Lijeva", cursive;
  color: black;
  background: white;
}

.login-footer {
  margin-top: 1rem;
  text-align: center;
  color: black;
  font-size: 0.9rem;
}

.login-footer a {
  color: var(--color-primary);
  text-decoration: underline;
}

.login-form Button{
    width: 140px;
    align-self: center;
}

@media (max-width: 750px) {
  .login-title{
    visibility: visible;
  }
}